<template>
  <div ref="cardRef" class="card hvr-buzz-out text-white p-6 md:(px-10 py-16)">
    <div class="flex justify-center">
      <div :class="[icon]" class="text-6xl" :style="{ color }" />
    </div>
    <div class="card-name text-lg mt-2 md:(mt-8 text-2xl) text-primary">
      {{ name }}
    </div>
    <div class="card-text text-sm  mt-2 md:(mt-6 text-base) tracking-wider">
      {{ text }}
    </div>
  </div>
</template>
<script setup>
const props = defineProps({
  delay: {
    type: Number,
    default: 1000
  },
  name: {
    type: String,
    default: ''
  },
  text: {
    type: String,
    default: ''
  },
  icon: {
    type: String,
    default: ''
  },
  color: {
    type: String,
    default: ''
  },
  eventKey: {
    type: String,
    default: ''
  }
})

const { $on } = useMitt()
const cardRef = ref(null)
const { instance: cardInstance } = useTranslateY(
  cardRef,
  -600,
  0,
  props.delay,
  600
)
const restart = () => {
  cardInstance.value?.restart()
}

$on(props.eventKey, () => {
  cardInstance.value?.restart()
})
defineExpose({ restart })

</script>

<style lang='scss' scoped>
.card {
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 6px, rgba(0, 0, 0, 0.3) 10px 7px 13px 1px, rgba(0, 0, 0, 0.2) 1px -3px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  text-align: center;
  z-index: 20;

}
</style>