<script setup>
const props = withDefaults(defineProps(), {
  delay: 500
})
const { $on } = useMitt()
const cardRef = ref(null)
const { instance: cardInstance } = useTranslateY(
  cardRef,
  -600,
  0,
  props.delay,
  600
)
const restart = () => {
  cardInstance.value?.restart()
}

$on(props.eventKey, () => {
  cardInstance.value?.restart()
})
defineExpose({ restart })

</script>

<template>
  <div ref="cardRef" class="card hvr-buzz-out text-white p-6 md:(px-10 py-16)">
    <div class="flex justify-center text-6xl">
      <slot name="icon" />
    </div>
    <div class="text-2xl mt-2 md:(mt-8 text-5xl) text-primary ">
      <slot name="data" />
    </div>
    <div class="text-sm  mt-1 md:(mt-3 text-lg) tracking-wider text-gray-3">
      <slot name="descript" />
    </div>
    <div class="text-sm  mt-2 md:(mt-6 text-lg) tracking-wider">
      <slot name="subscript" />
    </div>
  </div>
</template>

<style lang='scss' scoped>
.card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 6px, rgba(0, 0, 0, 0.3) 10px 7px 13px 1px, rgba(0, 0, 0, 0.2) 1px -3px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  z-index: 20;

}
</style>