<script setup>
const colorMode = useColorMode()
const props = defineProps({
  name: String,
  lightFill: {
    type: String,
    default: ''
  },
  darkFill: {
    type: String,
    default: ''
  },
  className: {
    type: String,
    default: ''
  }
})

// 判断是否暗色模式
const isDark = colorMode.preference === 'dark'
</script>

<template>
  <nuxt-icon :name="name" :fill="isDark ? darkFill : lightFill" :class="className" />
</template>

<style>
.nuxt-icon svg {
  margin-bottom: 0 !important;
  width: auto !important;
  height: auto !important;
}
</style>